body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat:no-repeat;
  background-size:100vw;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  height: 80%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 70%;
  width: 26%;
  min-width: 450px;
  max-width: 450px;
  margin: 15% auto; 
  background-color: hsl(225, 100%, 98%);
}

#image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

#orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#orderContainer p {
  width: 70%;
  text-align: center;
}
#orderContainer h3 {
  font-weight: 900;
  text-align: center;
}

#description{
  width: 70%;

}

#planContainer {
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(224, 44%, 95%);
  
}

#pricePlan {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#pricePlan p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-align: left;
}

#pricePlan h4 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  text-align: left;
}



#annualPrice {
  color: hsl(240, 4%, 5%);
  font-weight:900;

  }

#price {
color: hsl(224, 47%, 81%);
}

.button {
  display: block;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 80%;
  font-weight: 900;
  color: hsl(225, 100%, 98%);
  background-color: hsl(245, 75%, 52%);
  box-shadow: 1px 10px 20px hsl(224, 47%, 81%);
}
.button:hover, .cancelOrder:hover, .changeOrder:hover {
  cursor:pointer;
  text-decoration: none;
}

.button:hover {
  background-color: hsl(245, 75%, 62%);

}


.changeOrder:hover {
  color: hsl(224, 23%, 55%);
}

.cancelOrder:hover  {

  color: black;
}


.cancelOrder {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}

.nowhere {
  background-color: hsl(225, 100%, 98%);
  background-color: hsl(224, 23%, 55%);
  background-color: hsl(223, 47%, 23%);
}

@media (max-width: 375px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
  }
  
  #mainContainer {
    width: 360px;
    min-width: 20px;
    max-width: 360px;
    margin: 15% 5% 20% 5%; 
  }

  #image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 360px;
    height: auto;
  }

}

