#mainContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 33%;
    margin: 10% auto;
}

#image {
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px;  
    width:100% ;
}

#orderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#orderContainer p {
    width: 70%;
    text-align: center;
}

#planContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 1px solid red;
    border-radius: 10px;
    padding: 1em;
}


.button {
    display: block;
}